<!DOCTYPE html>
<html>

<head>
  <% if (pageName) { %>
    <title>ELEGANT LADY | <%= pageName %></title>
  <%} else {%>
    <title>ELEGANT LADY</title>
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="row nav-container">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="search-container">
            <form class="form-inline" action="/products/search" method="GET">
              <input class="search-input" type="search" placeholder="Search" name="search" />
            </form>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
          <a href="/">
            <h1>ELEGANT LADY</h1>
          </a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 right-nav mt-1">
          <ul>
            <%if (login) {if(currentUser.role === 'admin'){} else {%> 
              <li>
                <a href="/shopping-cart">
                  <i class="fas fa-shopping-cart"></i> 
                  <% if(session.cart) { %>
                    <span class="badge badge-pill badge-info"><%= session.cart.totalQty %></span>
                  <% } else { %>
                    <span class="badge badge-pill badge-info">0</span>
                  <% } %>
                </a>
              </li>
            <%}} else {%>
                <li>
                  <a href="/shopping-cart">
                    <i class="fas fa-shopping-cart"></i> 
                    <% if(session.cart) { %>
                      <span class="badge badge-pill badge-info"><%= session.cart.totalQty %></span>
                    <% } else { %>
                      <span class="badge badge-pill badge-info">0</span>
                    <% } %>
                  </a>
                </li>
                <%}%>
            <% if (login) { %>
              <li>
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                  <i class="fas fa-user"></i> 
                  Welcome <%=currentUser.username%>
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user/profile">User Account</a>
                  <div class="dropdown-divider"></div>
                  <% if (currentUser.role == "admin") { %>
                    <a class="dropdown-item" href="/products/new">Add Product</a>
                    <div class="dropdown-divider"></div>
                  <% } %>
                  <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
              </li>
              
            <% } else {%>
              <li>
                <a href="/user/signup"> Sign Up</a>
              </li>
              
              <li>
                <a href="/user/signin"> Sign In</a>
              </li>
            <% }%>
          </ul>
        </div>
      </div>